<!-- Основной шаблон -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Проект по Базам данных</title>
  <link rel="stylesheet" type="text/css" href="{% static 'manager/styles/site_base.css' %}" />
  {% block extrastylesmenu %}{% endblock %}
  {% block extrastyles %}{% endblock %}
</head>

<body>
  {% block menu %}{% endblock %}
  <div id='site_content'>
    {% block content %}
    Hello, world. You're at the manager app index.<br>
    <!-- Заглушка генерирующая текст -->
    {% lorem 3 p %}
    {% endblock %}
  </div>
</body>
</html>
