<!-- Страница добавления/редактирования автомобиля -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/form_create_update.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/car_create_update.css' %}" />
{% endblock %}

{% block content %}
{% if not id_car %}
<a href="{% url 'car_list_page' id_parking=id_parking %}">
{% else %}
<a href="{% url 'car_list_page' id_parking=car_id_number %}">
{% endif %} <p id='back_links'>← Назад на страницу стоянки</p>
</a>
<h1>{{ title }}</h1>
{% if parking %}
<p>На стоянку №{{ parking.parking_parking_number }} "{{ parking.parking_title }}":</p>
{% endif %}
{% if error_msg %} <p class="err_msg">{{ error_msg }}</p> {% endif %}
<form {% if not id_car %}
  action="{% url 'car_create' id_parking=id_parking %}"
  {% else %}
  action="{% url 'car_update' id_car=id_car %}"
  {% endif %} method="post">
  {% csrf_token %}
  Государственный номер: <input type="text" name="gov_car_number_field" maxlength="9"
  {% if car_gov_car_number %}
    value = "{{car_gov_car_number}}"
  {% endif %}><br>

  {% if parking_list %}
  <div>
    Стоянка:<select name="parking_field"
    {% if employee_position == 'p' %}
    disabled
    {% endif %}>
      {% for id, title in parking_list.items %}
        <option value="{{ id }}"
        {% if id == car_id_number %}
          selected="selected"
        {% endif %}>{{ title }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}

  <input type="radio" name="new_model_radio" id="old_model" value="0"
  {% if not new_model_radio or new_model_radio == "0" %}
    checked="checked"
  {% endif %}/>
  <label for="old_model">Выбрать модель из списка</label><br>
  <div class="old_model">
  Марка и модель:<select name="id_model_field">
    {% for model in brand_dict.1 %}
      <option value="{{model.0}}"
      {% if model.0 == car_id_model %}
        selected="selected"
      {% endif %}>{{model.1}}</option>
    {% endfor %}
  </select>
  </div>

  <input type="radio" name="new_model_radio" id="new_model" value="1"
  {% if new_model_radio == "1" %}
    checked="checked"
  {% endif %}/>
  <label for="new_model">Добавить новую модель</label><br>
  <div class="new_model">
    Марка:<select name="1_brand_field">
      {% for brand in brand_dict.0 %}
        <option value="{{brand.0}}"
        {% if brand.0 == car_brand_int %}
          selected="selected"
        {% endif %}>{{brand.1}}</option>
      {% endfor %}
    </select><br>

    Новая модель:<input type="text" name="1_model_field"
    {% if car_model_str %}
      value = "{{car_model_str}}"
    {% endif %}>
  </div>

  <input type="radio" name="new_model_radio" id="new_brand" value="2"
  {% if new_model_radio == "2" %}
    checked="checked"
  {% endif %}/>
  <label for="new_brand">Добавить новую марку и модель</label><br>
  <div class="new_brand">
    Новая марка:<input type="text" name="2_brand_field"
    {% if car_brand_str %}
      value = "{{car_brand_str}}"
    {% endif %}><br>

    Новая модель:<input type="text" name="2_model_field"
    {% if car_model_str %}
      value = "{{car_model_str}}"
    {% endif %}><br>
  </div>

  Цвет:<select name="color_field">
    {% for value, name in color_list.items %}
      <option value="{{value}}"
      {% if value == car_color %}
        selected="selected"
      {% endif %}>{{name}}</option>
    {% endfor %}
  </select><br>

  Пробег:<input type="number" name="mileage_field" min="0"
  {% if car_mileage %}
    value = "{{car_mileage}}"
  {% endif %}><br>

  Владелец автомобиля:<br>
  Имя: <input type="text" name="owner_name_field"
  {% if car_owner_name %}
    value = "{{car_owner_name}}"
  {% endif %}><br>

  Фамилия: <input type="text" name="owner_surname_field"
  {% if car_owner_surname %}
    value = "{{car_owner_surname}}"
  {% endif %}><br>

  Отчество*: <input type="text" name="owner_patronymic_field"
  {% if car_owner_patronymic %}
    value = "{{car_owner_patronymic}}"
  {% endif %}><br>

  Номер телефона: <input type="tel" name="phone_field" minlength='11' maxlength="12"
  {% if car_phone %}
    value = "{{car_phone}}"
  {% endif %}><br>

  <p>* - знак означает, что поле можно оставить пустым.</p>
  <input type="submit" value="{{ button }}" />
  {% if id_parking %}
  <input type="submit" name="go_next" value="Добавить и перейти к следующей" />
  {% endif %}
</form>
{% endblock %}
