<!-- Страница со списком автомобилей на стоянке -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/car_list.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/table.css' %}" />
{% endblock %}

{% block content %}
{% if employee_position == 'a' or employee_position == 's' %}
<a href="{% url 'main_page' %}"><p id='back_links'>← Главная страница</p></a>
<a href="{% url 'parking_list_page' %}"><p id='back_links'>/ Вернуться к списку стоянок</p></a>
{% endif %}

{% if login_success %}
<p id="hello">Добро пожаловать {{ employee_surname_name }}!</p>
{% endif %}

<h1>Страница стоянки №{{ parking.parking_parking_number }} "{{ parking.parking_title }}"</h1>
<p>Адрес: {{ parking.parking_district }} район, улица {{ parking.parking_street }}.</p>
<h2>Список автомобилей на стоянке</h2>
{% if error_msg %} <p class="err_msg">{{ error_msg }}</p> {% endif %}
<p id="field_count">Количество автомобилей: {{ cars_count }}</p>
<a href="{% url 'car_page' id_parking=parking_id %}">
  <p id='button_table'>Добавить автомобиль</p></a>
<a href="{% url 'manager:document_car_list' id_parking=parking_id %}" target="_blank">
  <p id='button_table'>Получить документ со списком автомобилей</p></a>
{% if cars_count > 0 %}
<div id='table'>
  <table>
    <tr>
      <th>Государственный<br>номер</th>
      <th>Марка</th>
      <th>Модель</th>
      <th>Цвет</th>
      <th>Пробег</th>
      <th>Владелец</th>
      <th>Телефон</th>
    </tr>
    {% for c in car_list %}
    <tr>
      <td>{{c.1}}</td>
      <td>{{c.2}}</td>
      <td>{{c.3}}</td>
      <td>{{c.4}}</td>
      <td>{{c.5}}</td>
      <td>{{c.6}}</td>
      <td>{{c.7}}</td>
      <td><a href="{% url 'car_page' id_car=c.0 %}"><p id='button_table'>Изменить</p></a></td>
      <td><a href="{% url 'car_delete' id_car=c.0 %}"><p id='button_table'>Удалить</p></a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<div>
  <p>На стоянке нет зарегистрированных автомобилей. Добавьте их.</p>
</div>
{% endif %}
{% endblock %}
