<!-- Страница с поиском автомобилей -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/car_list.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/table.css' %}" />
{% endblock %}

{% block content %}
<a href="{% url 'main_page' %}">
  <p id='back_links'>← Главная страница</p>
</a>
<h1>Поиск автомобиля по государственному номеру</h1>
{% if error_msg %} <p class="err_msg">{{ error_msg }}</p> {% endif %}
<form action="{% url 'car_search_page' %}" method="get">

  Введите государственный номер: <input type="text" name="search_field" maxlength="9"
  {% if car_search %}
    value = "{{car_search}}"
  {% endif %}>

  <input type="submit" value="Найти" />
</form>
{% if status_ok %}
  {% if cars_count > 0 %}
    <p id="field_count">Найдено автомобилей: {{cars_count}}.</p>
    <div id='table'>
      <table>
        <tr>
          <th>Государственный<br>номер</th>
          <th>Марка</th>
          <th>Модель</th>
          <th>Цвет</th>
          <th>Пробег</th>
          <th>Владелец</th>
          <th>Телефон</th>
          <th>Стоянка</th>
        </tr>
        {% for c in car_list %}
          <tr>
            <td>{{c.1}}</td>
            <td>{{c.2}}</td>
            <td>{{c.3}}</td>
            <td>{{c.4}}</td>
            <td>{{c.5}}</td>
            <td>{{c.6}}</td>
            <td>{{c.7}}</td>
            <td>{{c.8}}</td>
            <td><a href="{% url 'car_page' id_car=c.0 %}"><p id='button_table'>Изменить</p></a></td>
            <td><a href="{% url 'car_delete' id_car=c.0 %}"><p id='button_table'>Удалить</p></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <div>
      <p>Автомобили с указанным номером не найдены.</p>
    </div>
  {% endif %}
{% else %}
  <div>
    <p>Введите государственный номер для поиска.</p>
  </div>
{% endif %}
{% endblock %}
