<!-- Главная страница в приложении -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/employee_list.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/table.css' %}" />
{% endblock %}

{% block content %}
<a href="{% url 'main_page' %}">
  <p id='back_links'>← Главная страница</p>
</a>
<h1>Список сотрудников</h1>
<p id='field_count'>Количество сотрудников: {{ employees_count }}</p>
<a href="{% url 'employee_page' %}">
  <p id='button_table'>Добавить сотрудника</p>
</a>
{% if error_msg %} <p class="err_msg">{{ error_msg }}</p> {% endif %}
<div id='table'>
  <table>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Должность</th>
      <th>Номер</th>
    </tr>
    {% for e in employees_list %}
    <tr>
      <td>{{e.1}}</td>
      <td>{{e.2}}</td>
      <td>{{e.3}}</td>
      <td>{{e.4}}</td>
      <td>{{e.5}}</td>
      <td><a href="{% url 'employee_page' id_employee=e.0 %}"><p id='button_table'>Изменить</p></a></td>
      <td><a href="{% url 'employee_delete' id_employee=e.0 %}"><p id='button_table'>Удалить</p></a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
