<!-- Страница добавления/редактирования сотрудника -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/form_create_update.css' %}" />
{% endblock %}

{% block content %}
<a href="{% url 'employees_list_page' %}">
  <p id='back_links'>← Назад к списку сотрудников</p>
</a>
<h1>{{ title }}</h1>
{% if error_msg %} <p class="err_msg">{{ error_msg }}</p> {% endif %}
<form action="
{% if id_employee %}
  {% url 'employee_update' id_employee=id_employee %}
{% else %}
  {% url 'employee_create' %}
{% endif %}" method="post">
  {% csrf_token %}
  Имя: <input type="text" name="name_field"
  {% if employee_name %}
    value = "{{employee_name}}"
  {% endif %}><br>

  Фамилия: <input type="text" name="surname_field"
  {% if employee_surname %}
    value = "{{employee_surname}}"
  {% endif %}><br>

  Отчество*:<input type="text" name="patronymic_field"
  {% if employee_patronymic %}
    value = "{{employee_patronymic}}"
  {% endif %}><br>

  Должность: <select name="position_field"
    {% if positionDisabled %} disabled {% endif %}>
    {% for letter, position in positions %}
      <option value="{{letter}}"
      {% if letter == employee_position %}
        selected="selected"
      {% endif %}>{{position}}</option>
    {% endfor %}
  </select><br>

  Номер телефона: <input type="tel" name="phone_field" minlength='11' maxlength="12"
  {% if employee_phone %}
    value = "{{employee_phone}}"
  {% endif %}><br>

  {{password}}: <input type="password" name="password_field"><br>

  Повторите пароль: <input type="password" name="password_field_2"><br>

  <p>* - знак означает, что поле можно оставить пустым.</p>
  <input type="submit" value="{{ button }}" />
  {% if not id_employee %}
  <input type="submit" name="go_next" value="Добавить и перейти к следующему" />
  {% endif %}
</form>
{% endblock %}
