<!-- Страница управляющего, когда у него нет стоянки в управлении -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}

{% endblock %}

{% block content %}

<h1>У вас нет стоянки</h1>
<p>На данный момент нет стоянки под вашим управлением.
Обратитесь к секретарю или администратору, чтобы они добавили стоянку к вашей учетной записи.</p>

{% endblock %}
