<!-- Страница входа в приложения -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/login_style.css' %}" />
{% endblock %}

{% block content %}
<div id="login_form">
  <h1>Войти в систему:</h1>
  <form action="{% url 'login_check' %}" method="post">
    {% csrf_token %}
    Пароль:<br>
    <input type="password" name="password_field"><br>
    <input type="submit" value="Войти" />
  </form>
  {% if error_msg %} <p class="err_msg">{{ error_msg }}</p> {% endif %}
</div>
{% endblock %}
