<!-- Главная страница в приложении -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/main_page.css' %}" />
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
{% if login_success %}
<p id="hello">Добро пожаловать {{ employee_surname_name }}!</p>
{% endif %}
<div id="main_menu">
  {% if employee_position == 'a' %}
  <div class="main_item">
    <a href="{% url 'employees_list_page' %}">
    <p>Список сотрудников</p>
    <img src="{% static 'images/employees.jpg' %}" alt="Список сотрудников">
    </a>
  </div>
  {% endif %}
  <div class="main_item">
    <a href="{% url 'parking_list_page' %}">
    <p>Список стоянок</p>
    <img src="{% static 'images/parking_lots.jpg' %}" alt="Список стоянок">
    </a>
  </div>
  <div class="main_item">
    <a href="{% url 'car_search_page' %}">
    <p>Найти автомобиль по номеру</p>
    <img src="{% static 'images/find_car.jpg' %}" alt="Найти автомобиль">
    </a>
  </div>
  <div class="main_item">
    <a href="{% url 'manager:document_all_car_list' %}" target="_blank">
    <p>Документ с количеством автомобилей на всех стоянках</p>
    <img src="{% static 'images/document.jpg' %}" alt="Документ">
    </a>
  </div>
</div>
{% endblock %}
