<!-- Шаблон для меню -->
{% extends "manager/base.html" %}
{% load static %}

{% block extrastylesmenu %}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/menu.css' %}" />
{% endblock %}

{% block menu %}
<div id="menu">
  <p class="project_name">Менеджер стоянок</p>
  <ul id="menu_list">
    {% for menu_url, menu_name in menu_content %}
      <li><a href="{% url menu_url %}"
      {% if forloop.counter0 == menu_open %}
      class="open_li"
      {% endif %}>
      {{menu_name}}</a></li>
    {% endfor %}
    <li class="employee">{{employee_surname_name}}</li>
  </ul>
</div>
{% endblock %}
