<!-- Страница добавления/редактирования парковки -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/form_create_update.css' %}" />
{% endblock %}

{% block content %}
<a href="{% url 'parking_list_page' %}">
  <p id='back_links'>← Назад к списку стоянок</p>
</a>
<h1>{{ title }}</h1>
{% if error_msg %} <p class="err_msg">{{ error_msg }}</p> {% endif %}
<form {% if not id_parking %}
  action="{% url 'parking_create' %}"
  {% else %}
  action="{% url 'parking_update' id_parking=id_parking %}"
  {% endif %} method="post">
  {% csrf_token %}
  Номер*: <input type="number" name="number_field" min="1"
  {% if parking_parking_number %}
    value = "{{parking_parking_number}}"
  {% endif %}><br>

  Название: <input type="text" name="title_field"
  {% if parking_title %}
    value = "{{parking_title}}"
  {% endif %}><br>

  Район:<input type="text" name="district_field"
  {% if parking_district %}
    value = "{{parking_district}}"
  {% endif %}><br>

  Улица:<input type="text" name="street_field"
  {% if parking_street %}
    value = "{{parking_street}}"
  {% endif %}><br>

  Управляющий: <select name="id_employee_field">
    {% for e in employees %}
      <option value="{{e.id}}"
      {% if e.id == parking_id_employee %}
        selected="selected"
      {% endif %}>{{e.snp}}</option>
    {% endfor %}
  </select><br>

  <p>* - знак означает, что поле можно оставить пустым. Номер будет присвоен автоматически.</p>
  <input type="submit" value="{{ button }}" />
  {% if not id_parking %}
  <input type="submit" name="go_next" value="Добавить и перейти к следующей" />
  {% endif %}
</form>
{% endblock %}
