<!-- Страница со списком стоянок -->
{% extends "manager/menu.html" %}
{% load static %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/parking_list.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'manager/styles/table.css' %}" />
{% endblock %}

{% block content %}
<a href="{% url 'main_page' %}">
  <p id='back_links'>← Главная страница</p>
</a>
<h1>Список стоянок</h1>
{% if error_msg %} <p class="err_msg">{{ error_msg }}</p> {% endif %}
<p id="field_count">Количество стоянок: {{ parking_count }}</p>
<a href="{% url 'parking_page' %}">
  <p id='button_table'>Добавить стоянку</p></a>
<a href="{% url 'manager:document_parking_list' %}" target="_blank">
  <p id='button_table'>Получить документ со списком стоянок</p></a>
{% if parking_count > 0 %}
<div id='table'>
  <table>
    <tr>
      <th>Номер<br>стоянки</th>
      <th>Название</th>
      <th>Район</th>
      <th>Улица</th>
      <th>Управляющий</th>
      <th>Телефон</th>
    </tr>
    {% for p in parking_list %}
    <tr>
      <td>{{p.1}}</td>
      <td>{{p.2}}</td>
      <td>{{p.3}}</td>
      <td>{{p.4}}</td>
      <td>{{p.5}}</td>
      <td>{{p.6}}</td>
      <td><a href="{% url 'car_list_page' id_parking=p.0 %}"><p id='button_table'>Список автомобилей</p></a></td>
      <td><a href="{% url 'parking_page' id_parking=p.0 %}"><p id='button_table'>Изменить</p></a></td>
      <td><a href="{% url 'parking_delete' id_parking=p.0 %}"><p id='button_table'>Удалить</p></a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<div>
  <p>В базе данных отсутствует информация о стоянках. Добавьте их.</p>
</div>
{% endif %}
{% endblock %}
