form{
  display: inline-block;
  padding: 10px 24px;
  text-align: center;
}

form input{
  margin: 10px 0;
  font-size: 12pt;
}

#table td:nth-child(8) {
  width: 0;
  padding-left: 5px;
  text-align: center;
}

#table td:nth-child(9) {
  width: 0;
  padding-left: 5px;
  text-align: center;
}

#table td:nth-child(10) {
  width: 0;
  padding-left: 5px;
  text-align: center;
}
