.old_model {
  display: none;
}

#old_model:checked ~ .old_model {
  display: block;
}

.new_model {
  display: none;
}

#new_model:checked ~ .new_model {
  display: block;
}

.new_brand {
  display: none;
}

#new_brand:checked ~ .new_brand {
  display: block;
}
