form {
  width: 96%;
  padding: 2%;
  margin-top: 15px;
  background: white;
}

form input {
  margin: 10px;
  font-size: 12pt;
}

form select {
  margin: 10px;
  font-size: 12pt;
}

form input[type=submit] {
  display: inline-block;
  padding: 4px 20px;
  border-radius: 15px;
  background: #B5D0FF;
  cursor:pointer;
}

form input[type=submit]:hover {
  background: white;
  transition: 300ms;
}
