#login_form {
  width: 40%;
  margin: 40px auto;
  padding: 15px 0;
  text-align: center;
  font-size: 14pt;
  background:#ccb8b8;
}

#login_form h1{
  margin:5px 0;
  font-size: 18pt;
  font-weight: normal;
}

#login_form form{
  display: inline-block;
  margin: 0 auto;
  padding: 10px 24px;
  border-top: solid 2px black;
  text-align: center;
}

#login_form input{
  margin: 10px 0;
  font-size: 12pt;
}
