#main_menu {
  text-align: center;
  padding: 0;
  margin: 0;
}


.main_item{
  width: 370px;
  display: inline-block;
  padding: 10px 0;
  margin: 10px;
  text-align: center;
  background: #B5D0FF;
  border-radius: 15px;
}

.main_item:hover{
  transform: scale(1.1);
  background: white;
  transition: 300ms;
}

.main_item a{
  color: black;
  text-decoration: none;
}

.main_item p{
  margin: 0;
}

.main_item img{
  margin-top: 10px;
  width: 340px;
}
