#menu {
  margin: 0 0;
  font-size: 14pt;
  background: #473d3d;
  padding: 15px 0;
}

#menu .project_name {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0 5%;
  font-size: 18pt;
}

#menu #menu_list {
  float:right;
  list-style:none;
  padding:0;
  margin: 4pt 5% 0 0;
}

#menu #menu_list li{
  display:inline;
  float:right;
  padding:0 1em;
}

#menu #menu_list a{
  text-decoration: none;
  color: white;
}

#menu #menu_list .open_li{
  color: #FFB27F;
}

#menu #menu_list .employee{
  color: white;
}
