#table td:nth-child(6) {
  width: 0;
  padding-left: 5px;
  text-align: center;
}

#table td:nth-child(7) {
  width: 0;
  padding-left: 5px;
  text-align: center;
}

#table td:nth-child(8) {
  width: 0;
  padding-left: 5px;
  text-align: center;
}
