body {
  margin: 0;
  padding: 0;
  min-width: 600px;
  font-family: Arial;
  font-size: 14pt;
}

#site_content {
  width: 76%;
  min-width: 600px;
  margin: 0 auto;
  padding: 40px 2%;
  background: #D8D8D8;
}

#site_content h1 {
  text-align: center;
  margin: 0;
  font-size: 24pt;
}

#site_content #hello {
  width: 50%;
  margin: 10px auto;
  padding: 5px 0;
  border-radius: 15px;
  text-align: center;
  background: #C1FFAA;
  color: #007F0E;
}

#back_links {
  display: inline-block;
  margin: 0;
  padding: 5px 0;
  color: #3D74FF;
  text-decoration: none;
}

#back_links:hover{
  color: black;
  transition: 300ms;
}

#button_table {
  display: inline-block;
  padding: 4px 20px;
  margin: 0;
  border-radius: 15px;
  background: #B5D0FF;
  color: black;
}

#button_table:hover{
  background: white;
  transition: 300ms;
}

#site_content .err_msg {
  width: 50%;
  min-width: 220px;
  margin: 10px auto;
  padding: 5px 0;
  border-radius: 15px;
  text-align: center;
  background: #FF948E;
  color: #600100;
}
