#field_count {
  display: inline-block;
  margin-right: 10px;
}

#table {
  overflow-y: auto;
}

#table table{
  width: 100%;
  margin-top: 10px;
  font-size: 12pt;
  border-collapse: collapse;
  border: 2px solid gray;
  background: white;
}

#table th {
  padding: 10px;
  border: 1px solid gray;
}

#table td {
  padding: 5px;
  border: 1px solid gray;
}

#table tr:nth-child(even) {
  background-color: #D8D8D8;
}
